# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.Galactic.iml
# Datasource local storage ignored files
/../../../../../../:\Moje_Programy\Galactic\.idea\.idea.Galactic\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
